# Виртуальное окружение
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
db.sqlite3
*.log

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Playwright
playwright-report/
test-results/



# Личные настройки
.env

